# Unreal Editor folders
Binaries
Content/Developers
DerivedDataCache
Intermediate
Saved

# IDE files or directories
.vs
.vscode
Lylat.code-workspace
Lylat.xcworkspace

# File types
.DS_Store
*.bat
*.log
*.sdf
*.sln
*.suo

# Generated project files (Linux)
.kdev4
CMakeLists.txt
Lylat.kdev4
Lylat.pro
Lylat.workspace
LylatCodeCompletionFolders.txt
LylatCodeLitePreProcessor.txt
LylatConfig.pri
LylatDefines.pri
LylatHeader.pri
LylatIncludes.pri
LylatSource.pri
Makefile
