# Build folders and files
Binaries
Content/Developers
DerivedDataCache
Intermediate
Saved
Build/WindowsNoEditor
Build/MacNoEditor
Build/LinuxNoEditor

# Other file types
.DS_Store
*.bat
*.log

# Generated project files
.vs
.vscode
.kdev4
CMakeLists.txt
Lylat.code-workspace
Lylat.kdev4
Lylat.pro
Lylat.workspace
Lylat.xcworkspace
LylatCodeCompletionFolders.txt
LylatCodeLitePreProcessor.txt
LylatConfig.pri
LylatDefines.pri
LylatHeader.pri
LylatIncludes.pri
LylatSource.pri
Makefile
*.sdf
*.sln
*.suo

# Discord Game SDK sources and binaries
Source/Lylat/Discord/*.cpp
Source/Lylat/Discord/*.dll
Source/Lylat/Discord/*.dylib
Source/Lylat/Discord/*.h
Source/Lylat/Discord/*.lib
Source/Lylat/Discord/*.so
