# Build folders
Binaries
Content/Developers
DerivedDataCache
Intermediate
Saved

# Other file types
.DS_Store
*.bat
*.log

# Generated project files
.vs
.vscode
.kdev4
CMakeLists.txt
Lylat.code-workspace
Lylat.kdev4
Lylat.pro
Lylat.workspace
Lylat.xcworkspace
LylatCodeCompletionFolders.txt
LylatCodeLitePreProcessor.txt
LylatConfig.pri
LylatDefines.pri
LylatHeader.pri
LylatIncludes.pri
LylatSource.pri
Makefile
*.sdf
*.sln
*.suo
